@import "typography.css";
@import "variables.css";

body {
  background-color: var(--color-background);
  padding: 0.5rem 1rem;
}

footer {
  margin-top: 3rem;
}

.footer-links {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
}

.footer-links li {
  display: inline;
}

.footer-links li:not(:last-child) {
  margin-right: 0.5rem;
}

.engagements {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.engagement-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid darkgrey;
  padding: 1rem;
}

.engagement-card h5 {
  margin: 1rem 0;
  text-align: center;
}

.workplaces {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 496px) {
  .workplaces {
    grid-template-columns: 1fr;
  }
}
