:root {
    --color-background: #fcfaf2;
    --color-text: #090510;
    --color-base: #d1d2d3;
    --color-accent: #fcd058;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #090510;
        --color-text: #fcfaf2;
    }
}
